@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <iframe width="100%" height="800rem" 
        src="https://www.youtube.com/embed/EeFLr8cYgRs?autoplay=1"
        title="ASÍ GANAMOS EL CLÁSICO ANTE MILLONARIOS - Fecha 6 | 2024 - 2" 
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" 
        allowfullscreen>
</iframe>

</div>
